@import url(reset.css);

/* ==== MAIN ==== */
body {
  background: #191919;
  color: white;
}
main {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.hidden {
  display: none;
}

/* ==== HEADER ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: black;
  padding: 2rem 4rem;
  font-size: 2.4rem;
}
.guesses-remaining {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guesses-remaining h1 {
  font-size: 4rem;
}

/* ==== MAIN GAME ==== */
