@import url(reset.css);

/* ==== MAIN ==== */
body {
  background: #191919;
  color: white;
}
main {
  width: 80%;
  margin: 0 auto;
}
.hidden {
  display: none;
}

/* ==== HEADER ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: black;
  padding: 2rem 4rem;
  font-size: 2.4rem;
}
.guesses-remaining {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guesses-remaining h1 {
  font-size: 4rem;
}

/* ==== MAIN GAME ==== */
/* Difficulty buttons */
#difficulty {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  margin: 2.4rem 0;
}
.dif-select {
  font-size: 2.4rem;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 3rem;
  background-color: blue;
}
.selected {
  background-color: green;
}

/* Logo */
#main-game h1 {
  font-size: 5.6rem;
  text-align: center;
  margin-bottom: 2.4rem;
}
/* Game rules */
#game-rules {
  width: 100%;
  background-color: yellow;
  color: black;
  border-radius: 0.5rem;
  margin-bottom: 2.4rem;
}
#game-rules .info-top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1.6rem;
}
.info-top h2 {
  grid-column: 2;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 700;
}
.info-top button {
  grid-column: 3;
  justify-self: end;
  font-size: 2.4rem;
}
.dif-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 1.6rem;
  gap: 1.6rem;
  font-size: 1.8rem;
}
.dif-info span {
  font-weight: 700;
}
/* Start game button */
#start-game-btn {
  display: block;
  margin: 0 auto;
  font-size: 4rem;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 3rem;
  background-color: green;
}
